VITE_API_URL=http://localhost:4000/api
VITE_SUPABASE_URL=sb_publishable_lZSH7NL1b7arcS6Fyj1y1A_5xTnaVot
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1zY3FvdWd2aGJqYnR3bnhhdWNmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODc1NzA2NTUsImV4cCI6MjEwMzE0NjY1NX0.5dKXcph9ouNScqqP3ARiOsxi5LP6__HnZvRBKAHz7bw
